/* DEVELOPER: Jillian Andrea Juat, IS117-002, Spring 2023 */

/* styles for the elements */
h2 {
    text-align: center;
    padding: 1em;
}
.image {
    float: left;
    max-width: 40%;
    min-width: 150px;
    margin: 0 3em;
}
/* styles for the carousel images */
.d-block w-100 {
    max-width: 60%;
    min-width: 40%;
}

/* styles for the footer */
footer p {
    text-align: center;
}