/* DEVELOPER: Jillian Andrea Juat, IS117-002, Spring 2023 */

/* styles for the elements */
h2 {
    text-align: center;
    padding: 1em;
}
.image {
    float: left;
    max-width: 40%;
    min-width: 150px;
    margin: 0 3em 3em 3em;
}

#imagesrc {
    float: left;
}
/* styles for the footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

/* styles for the carousel images */
#carouselInterval {
    max-width: 50%;
    min-width: 200px;
    padding: 0 3em 3em 3em;
}

/* styles for the footer */
footer {
    text-align: center;
}